.bg-gradient {
    background: linear-gradient(to right, #838eb0, #f0ece5);
}

.navbar-style, .footer-style {
    background: linear-gradient(to right, #6d7790, #d1cdc6);
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px; /* Add some padding for better visual */
    color: black; /* Adjust text color as needed */
}


h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.logo-nav{
    width: 70%;
}


.navbar-style{
    border-bottom: 0.75px solid black;


}
.footer-style{
    border-top: 0.75px solid black;
    padding: 12px;
}

.fab{
    color: black;
}


h1{
}
