.bg-gradient {
    background: linear-gradient(to right, #395ECA, #848BD8);
}

.navbar-style, .footer-style{
    background: linear-gradient(to right, #2950cb, #6a6ebe);
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.logo-nav{
    width: 70%;
}


.navbar-style{
    border-bottom: 0.75px solid black;


}
.footer-style{
    border-top: 0.75px solid black;
    padding: 12px;
}

.fab{
    color: black;
}


h1{
}
